:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Controle de elementos CSS da div */
.main{
  display: flex;
}
.board{
  display: flex;
  flex-direction: column;
}

.topbar{
  padding: 10pt;
  width: 96vw;
  display: flex;
  justify-content: space-between;
}

.myNick{
  padding: 10pt;
}

.top-left{
  display: flex;
  justify-self: flex-end;
}


.top-right{
  display: flex;
}

.header{
  background-color: #ffffffe3;
  display: flex;
  flex-direction: column;
  width: 4vw;
  height: 100vh;  
}

/* Controle de elementos CSS da lista (ul/li) */
.list-nav{
  list-style: none;
}

.list-nav .item{
  display: none;
  padding-bottom: 20pt;
  text-align: center;
  /*Textos e fontes*/
  font-size: 13pt;
  color: rgb(0, 0, 0);
}

.button{
  background-color: rgba(0, 0, 0, 0.815);

  padding: 5pt;
  margin: 5pt;
  border-radius: 5pt;
  list-style: none;

  /*Textos e fontes*/
  font-size: 12pt;
  color: #ffffff;
}

.central{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15%;
}

.Title{
  text-align: center;
  padding-bottom: 10pt;
}

.Subtitle{
  text-align: center;
  margin-bottom: 10%;
}

.inputBox{
  text-align: center;
}

.input{
  width: 40vw;
  height: 4vh;
  border-radius: 10pt;
  text-align: center;
  font-size: 15pt;
}

.blur{
  display: flex;
  position: absolute;
  justify-content: center; 
  align-items: center;     
  height: 100%;           
  width: 100%; 
  z-index: 5;
  backdrop-filter: blur(3px);
}

.popUp{
  position: sticky;
  background: whitesmoke;
  width: 50vw;
  height: 60vh;  
  z-index: 10;
  border-radius: 20px;
  text-align: center;
  color:black
}

.topModal{
  display: flex;
  padding: 10pt;
}

.topModal p{
  margin: auto;
  font-size: 12pt;
  color: rgba(36, 36, 36, 0.808);
}

.circle{
  color: white;
  margin-right: 3pt;
  border-radius: 50%;
  
  width: 17px; /* Largura igual à altura */
  height: 17px; /* Altura igual à largura */
}

.circle button{
  width: 17px;
  height: 17px;
  border-radius: 50%;
}

.closeButton{
  background-color: rgba(255, 0, 0, 0.863);
}

.minButton{
  background-color: rgba(255, 255, 0, 0.592);
}

.maxButton{
  background-color: rgba(0, 128, 0, 0.493);
}

